

@font-face {
    font-family:"digital";
    src: url('digital-7.ttf');
}
.main{

display: flex;

/* background-image: url('/bg.jpg'); */

background-color: yellow;

background-position: center;
background-size: cover;

background-repeat: no-repeat;

height: 800px;

width: auto;

}




.main{



    display: flex;


    align-items: center;

    justify-content:center;
}


.container{




}

.container h1{
    font-size: 100px;
font-weight: 500;
font-family:monospace;
color:rgb(1, 1, 1);
text-align: center;

}




/* .container p{

      

    font-size: 30px;
    color: rgb(9, 9, 9);
    font-weight: 800;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
#Time{


    margin-top: 40px;
}

#ft {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}


.btn {
display: flex;

align-items: center;
justify-content: space-around;
text-align: center;
  
}

.btn button{
    margin-top: 40px;
    padding: 20px;
    background-color: transparent;

border: 2px solid rgb(7, 7, 7);
    border-radius: 10px;
}

.btn button:hover{
    cursor: pointer;  
       
    top:30px;
    width: 500px;
  
}



.footer{


display: flex;

justify-content: center;

align-items: center;

}







#day{

    margin-right: 4px;
    
   
    border-radius: 5px;
    background-color: black;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 20px;

    }

    #hours{

        margin-right: 4px;
     
        
        border-radius: 5px;
        background-color: black;
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding: 20px;
        }
        #minutes{

            margin-right: 4px;
            
            
            border-radius: 5px;
            background-color: black;
            font-size: 30px;
            color: rgb(255, 255, 255);
            padding: 20px;
            }

            #seconds{

                margin-right: 4px;
               
                
                border-radius: 5px;
                background-color: black;
                font-size: 30px;
                color: rgb(255, 255, 255);
                padding: 20px;
                }



#hours,#day,#minutes,#seconds{



    background-color: rgb(0, 0, 0);
}









                @media screen and (max-width:725px)and (max-width: 725px) {

                    #day{

                        display: flex;
                      
                        justify-content: space-evenly;
                        margin-bottom: 10px;
                              }
                          
                              #hours{
                          
                                  display: flex;
                      margin-bottom: 10px;
                                  justify-content: space-evenly;
                                  }
                                  #minutes{
                          
                                      display: flex;
                                      margin-bottom: 10px;
                      
                                      justify-content: space-evenly;
                                      }
                          
                                      #seconds{
                          
                                          display: flex;
                      
                                          justify-content: space-evenly;
                                          }
                      



                }










                @media screen and (max-width:714px) {

                    #day{

                        display: flex;
                      
                        justify-content: space-evenly;
                        margin-bottom: 10px;
                              }
                          
                              #hours{
                          
                                  display: flex;
                      margin-bottom: 10px;
                                  justify-content: space-evenly;
                                  }
                                  #minutes{
                          
                                      display: flex;
                                      margin-bottom: 10px;
                      
                                      justify-content: space-evenly;
                                      }
                          
                                      #seconds{
                          
                                          display: flex;
                      
                                          justify-content: space-evenly;
                                          }
                      



                }

@media screen and (max-width:640px) {
   

    .container{

        margin: 10px;
    }


    .main{

        display: flex;
        
     
        
        background-color: rgb(246, 25, 25);
       
      width: 100%;
        
        }

        .main{



            display: flex;
        
            color:white;
            align-items: center;
        
            justify-content:center;
        }

        .container h1{
            text-align: center;
            font-size: 30px;
        font-weight: 800;
        font-family:monospace;
        color:white;
        
       
    }

    .container p{

       

       
        color: rgb(251, 249, 249);
      
    }


    .btn button{
       
        width: 200px;
 
    }
    
     .btn button :hover{
     
        width: 405px;

    }


    


    #day{

  display: flex;

  justify-content: space-around;
  margin-bottom: 10px;

        }
    
        #hours{
    
            display: flex;
margin-bottom: 10px;
            justify-content: space-evenly;
            }
            #minutes{
    
                display: flex;
                margin-bottom: 10px;

                justify-content: space-evenly;
                }
    
                #seconds{
    
                    display: flex;

                    justify-content: space-evenly;
                    }

  }